#######################################
# Holiday Data provided by Chris Yang
#######################################

holiday.ch-CN1.date=20150101
holiday.ch-CN1.name=元日
holiday.ch-CN2.date=20150127
holiday.ch-CN2.name=腊八节
holiday.ch-CN3.date=20150204
holiday.ch-CN3.name=立春
holiday.ch-CN4.date=20150214
holiday.ch-CN4.name=情人节
holiday.ch-CN5.date=20150218
holiday.ch-CN5.name=除夕
holiday.ch-CN6.date=20150219
holiday.ch-CN6.name=春节
holiday.ch-CN7.date=20150305
holiday.ch-CN7.name=元宵节
holiday.ch-CN8.date=20150312
holiday.ch-CN8.name=希希生日-正月廿二
holiday.ch-CN9.date=20150401
holiday.ch-CN9.name=愚人节
holiday.ch-CN10.date=20150405
holiday.ch-CN10.name=清明节
holiday.ch-CN11.date=20150501
holiday.ch-CN11.name=劳动节
holiday.ch-CN12.date=20150510
holiday.ch-CN12.name=母亲节
holiday.ch-CN13.date=20150601
holiday.ch-CN13.name=儿童节
holiday.ch-CN14.date=20150620
holiday.ch-CN14.name=端午节
holiday.ch-CN15.date=20150621
holiday.ch-CN15.name=父亲节
holiday.ch-CN16.date=20150820
holiday.ch-CN16.name=七夕节
holiday.ch-CN17.date=20150829
holiday.ch-CN17.name=chris birth
holiday.ch-CN18.date=20150927
holiday.ch-CN18.name=中秋节
holiday.ch-CN19.date=20151001
holiday.ch-CN19.name=国庆节
holiday.ch-CN20.date=20151021
holiday.ch-CN20.name=重阳节
holiday.ch-CN21.date=20151022
holiday.ch-CN21.name=lynna birth

