###############################################################################
# International Holiday Data provided by Holidata.net
#
# Add by Chris Yang
#
###############################################################################

holiday.ch-CN1.name=元日
holiday.ch-CN1.date=20140101
holiday.ch-CN2.name=成人の日
holiday.ch-CN2.date=20140113
holiday.ch-CN3.name=建国記念の日
holiday.ch-CN3.date=20140211
holiday.ch-CN4.name=春分の日
holiday.ch-CN4.date=20140321
holiday.ch-CN5.name=昭和の日
holiday.ch-CN5.date=20140429
holiday.ch-CN6.name=憲法記念日
holiday.ch-CN6.date=20140503
holiday.ch-CN7.name=みどりの日
holiday.ch-CN7.date=20140504
holiday.ch-CN8.name=こどもの日
holiday.ch-CN8.date=20140505
holiday.ch-CN9.name=振替休日
holiday.ch-CN9.date=20140506
holiday.ch-CN10.name=海の日
holiday.ch-CN10.date=20140721
holiday.ch-CN11.name=敬老の日
holiday.ch-CN11.date=20140915
holiday.ch-CN12.name=秋分の日
holiday.ch-CN12.date=20140923
holiday.ch-CN13.name=体育の日
holiday.ch-CN13.date=20141013
holiday.ch-CN14.name=文化の日
holiday.ch-CN14.date=20141103
holiday.ch-CN15.name=勤労感謝の日
holiday.ch-CN15.date=20141124
holiday.ch-CN16.name=天皇誕生日
holiday.ch-CN16.date=20141223
holiday.ch-CN17.name=元日
holiday.ch-CN17.date=20150101
holiday.ch-CN18.name=成人の日
holiday.ch-CN18.date=20150112
holiday.ch-CN19.name=建国記念の日
holiday.ch-CN19.date=20150211
holiday.ch-CN20.name=春分の日
holiday.ch-CN20.date=20150321
holiday.ch-CN21.name=昭和の日
holiday.ch-CN21.date=20150429
holiday.ch-CN22.name=憲法記念日
holiday.ch-CN22.date=20150503
holiday.ch-CN23.name=みどりの日
holiday.ch-CN23.date=20150504
holiday.ch-CN24.name=こどもの日
holiday.ch-CN24.date=20150505
holiday.ch-CN25.name=振替休日
holiday.ch-CN25.date=20150506
holiday.ch-CN26.name=海の日
holiday.ch-CN26.date=20150720
holiday.ch-CN27.name=敬老の日
holiday.ch-CN27.date=20150921
holiday.ch-CN28.name=秋分の日
holiday.ch-CN28.date=20150923
holiday.ch-CN29.name=体育の日
holiday.ch-CN29.date=20151012
holiday.ch-CN30.name=文化の日
holiday.ch-CN30.date=20151103
holiday.ch-CN31.name=勤労感謝の日
holiday.ch-CN31.date=20151123
holiday.ch-CN32.name=天皇誕生日
holiday.ch-CN32.date=20151223
holiday.ch-CN33.name=元日
holiday.ch-CN33.date=20160101
holiday.ch-CN34.name=成人の日
holiday.ch-CN34.date=20160111
holiday.ch-CN35.name=建国記念の日
holiday.ch-CN35.date=20160211
holiday.ch-CN36.name=春分の日
holiday.ch-CN36.date=20160321
holiday.ch-CN37.name=昭和の日
holiday.ch-CN37.date=20160429
holiday.ch-CN38.name=憲法記念日
holiday.ch-CN38.date=20160503
holiday.ch-CN39.name=みどりの日
holiday.ch-CN39.date=20160504
holiday.ch-CN40.name=こどもの日
holiday.ch-CN40.date=20160505
holiday.ch-CN41.name=海の日
holiday.ch-CN41.date=20160718
holiday.ch-CN42.name=敬老の日
holiday.ch-CN42.date=20160919
holiday.ch-CN43.name=秋分の日
holiday.ch-CN43.date=20160922
holiday.ch-CN44.name=体育の日
holiday.ch-CN44.date=20161010
holiday.ch-CN45.name=文化の日
holiday.ch-CN45.date=20161103
holiday.ch-CN46.name=勤労感謝の日
holiday.ch-CN46.date=20161123
holiday.ch-CN47.name=天皇誕生日
holiday.ch-CN47.date=20161223
