elinks/*
!elinks/elinks.conf
!elinks/bookmarks
moc/cache/
moc/last_directory
moc/pid
moc/softmixer
newsbeuter/cache.db
newsbeuter/history.cmdline
newsbeuter/history.search
ranger/plugins/*.pyo
ranger/plugins/__pycache__
ranger/colorschemes/*.pyo
ranger/colorschemes/__pycache__
ranger/__pycache__/
ranger/*info.json
vifm/vifminfo*
vim/viminfo
vim/bundle/**/tags
vim/.netrwhist
vimb/closed
vimb/command
vimb/cookies.db
vimb/history
w3m/cookie
w3m/history
w3m/dirlist
w3m/w3m*
ncmpcpp/error.log
yong/pinyin.usr
