elinks/*
!elinks/elinks.conf
!elinks/bookmarks
vim/viminfo
vim/bundle/**/tags
w3m/bookmark.html
w3m/cookie
w3m/history
w3m/dirlist
w3m/w3m*
vifm/vifminfo
vimb/closed
vimb/cookies.db
vimb/history
moc/cache/
moc/last_directory
moc/pid
moc/softmixer
ranger/plugins/*.pyo
ranger/colorschemes/*.pyo
newsbeuter/cache.db
newsbeuter/history.cmdline
newsbeuter/history.search
