elinks/*
!elinks/elinks.conf
!elinks/bookmarks
moc/cache/
moc/last_directory
moc/pid
moc/softmixer
newsbeuter/cache.db
newsbeuter/history.cmdline
newsbeuter/history.search
ranger/plugins/*.pyo
ranger/colorschemes/*.pyo
vifm/vifminfo*
vim/viminfo
vim/bundle/**/tags
vimb/closed
vimb/command
vimb/cookies.db
vimb/history
w3m/bookmark.html
w3m/cookie
w3m/history
w3m/dirlist
w3m/w3m*
ncmpcpp/error.log
