# i3blocks config file
# List of valid properties:
# align color command full_text instance interval label min_width name separator separator_block_width short_text signal urgent

command=/home/simone/.config/i3/scrypts/$BLOCK_NAME
separator=false
separator_block_width=10
markup=none
#border_top=2
#border_bottom=0
#border_left=0
#border_right=0

#[pycharm]
#interval=once
#command=echo ""; [[ "${BLOCK_BUTTON}" -ne 1 ]] || pycharm
#
#[audacious]
#interval=once
#command=echo ""; [[ "${BLOCK_BUTTON}" -ne 1 ]] || audacious
#
#[calculator]
#interval=once
#command=echo ""; [[ "${BLOCK_BUTTON}" -ne 1 ]] || gnome-calculator
#
#[office]
#interval=once
#command=echo ""; [[ "${BLOCK_BUTTON}" -ne 1 ]] || libreoffice
#
#[file_manager]
#interval=once
#command=echo ""; [[ "${BLOCK_BUTTON}" -ne 1 ]] || Thunar
#
#[viber]
#interval=once
#command=echo ""; [[ "${BLOCK_BUTTON}" -ne 1 ]] || viber
#
#[google chrome]
#interval=once
#command=echo ""; [[ "${BLOCK_BUTTON}" -ne 1 ]] || google-chrome-stable
#
#[separator]
#command=echo \|
#interval=once
#color=#666666
#
#[vk]
#command=echo "$(/home/simone/.config/i3/scrypts/vk)" ; [[ "${BLOCK_BUTTON}" -ne 1 ]] || /opt/google/chrome/google-chrome vk.com > /dev/null 
#interval=60
#align=center
#
#[mail]
#command=echo "$(/home/simone/.config/i3/scrypts/mail)" ; [[ "${BLOCK_BUTTON}" -ne 1 ]] || /opt/google/chrome/google-chrome mail.yandex.ru > /dev/null
#interval=60
#align=center
#
#[temp_symbol]
#command=echo "<span font_desc='Icons'> </span>" ; [[ "${BLOCK_BUTTON}" -ne 1 ]] || urxvt -e /home/simone/.config/i3/scrypts/weather
#interval=once
#align=center
#markup=pango
#separator_block_width=0

#[weather_temp]
#command=/home/simone/.config/i3/scrypts/weather_temp ; [[ "${BLOCK_BUTTON}" -ne 1 ]] || urxvt -e /home/simone/.config/i3/scrypts/weather
#interval=180
#align=center
#separator_block_width=5
#
#[weather_logo]
#command=/home/simone/.config/i3/scrypts/weather_logo ; [[ "${BLOCK_BUTTON}" -ne 1 ]] || urxvt -e /home/simone/.config/i3/scrypts/weather
#markup=pango
#interval=190
#align=center
#separator_block_width=5
#
#[separator]
#command=echo \|
#interval=once
#color=#666666
#
#[memory]
#command=echo "$(/home/simone/.config/i3/scrypts/memory)" ; [[ "${BLOCK_BUTTON}" -ne 1 ]] || /home/simone/.config/i3/scrypts/gnome-system-monitor_toggle
#markup=pango
#interval=15

[cpu_usage]
command=echo "$(/home/simone/.config/i3/scrypts/cpu_usage)"
markup=pango
interval=10
align=center
min_width=55

[separator]
command=echo \|
interval=once
color=#666666

[cpu_temperature]
command=echo "TEMP=$(sensors | grep Tctl | cut -d'+' -f2 | sed -e 's/[ \t]*//g')"
markup=pango
interval=10
align=center
min_width=55

[separator]
command=echo \|
interval=once
color=#666666

[net]
command=echo "$(/home/simone/.config/i3/scrypts/net)"
interval=30
align=center

[separator]
command=echo \|
interval=once
color=#666666

[volume]
command=echo "$(/home/simone/.config/i3/scrypts/volume)"
markup=pango
interval=once
interval=3
align=center
#min_width=68

[separator]
command=echo \|
interval=once
color=#666666

[battery]
command=echo "$(/home/simone/.config/i3/scrypts/battery)"
markup=pango
interval=15
align=center

[separator]
command=echo \|
interval=once
color=#666666

[date]
command=echo $(date '+%a %b %d')
interval=5

[separator]
command=echo \|
interval=once
color=#666666

[time]
label=
command=echo $(date '+%H:%M') 
interval=5

#[separator]
#command=echo \|
#interval=once
#color=#666666
#
#[oblogout]
#interval=once
#command=echo " "; [[ "${BLOCK_BUTTON}" -ne 1 ]] || oblogout

#[touchpad_off_indicator]
#interval=repeat
#markup=pango
#command=sleep .5; [[ $(synclient -l | grep TouchpadOff | cut -d '=' -f 2) -eq 1 ]] && echo ' '|| echo ''

#[caps_indicator]
#interval=repeat
#markup=pango
#command=sleep .5; [[ $(xset q | awk ' /Caps Lock/ {print $4}') == 'on' ]] && echo "<span color='#ff0000'> </span>" || echo ''
#
#[mic_indicator]
#interval=repeat
#markup=pango
#command=sleep .5; [[ $(amixer sget Capture | awk -F '[][]' '/Left/ {print $4}' | tail -n 1) == 'off' ]] && echo "<span color='#ff0000'> </span>" || echo ''

